# editor temporary / backup files
*~

# artefacts from autotools
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
config.log
config.status
configure
install-sh
missing
depcomp
Makefile
include/config.h
include/config.h.in
include/stamp-h1

# built objects
avecado
*.o
**/.deps/
**/.dirstamp
include/vector_tile.pb.h
src/vector_tile.pb.cc
